$cWhite: white;
$cBlack: black;

#container {
  text-align: center;
}

.btn {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;

  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.3s;
      z-index: -1;
    }

    &:hover {
      color: $cWhite;

      &::before {
        transform: none;
      }
    }
  }
}

/*
擬似要素を追加するために必要な要素。
  [理由]<span></span>を使わずにアニメーションを組み込めることができるから。
::before (or ::after)がどういった解釈になるのか。
content: '';は必ず必要、空要素にすることが大事。
空要素の中身が文字列じゃなくても
contentがないと擬似要素が生成されないので注意！
ブラウザ[chrome]の開発ツールで確認
同じhtml要素内に設定できるのは、::before ::afterは
それぞれ、1つずつしか設定できない。
もし、2つ設定した場合、詳細度が高い方が優先される。
空タグといわれる要素は擬似要素には設定できない。
例えば、<img src=''>、<hr>、etcである。
*/
