.parent {
  background-color: rgb(81, 218, 218);
  height: 600px;
  width: 100%;
}

.child {
  background-color: orange;
  width: 100px;
  height: 100px;
  font-weight: 600;
}
.child.v2 {
  background-color: palevioletred;
}
.child.v3 {
  background-color: rebeccapurple;
}

/**
 * 横方向のレイアウト
 */
/* インライン要素に対して */
// .parent {
//   text-align: right;
//   letter-spacing: -6px; //インライン要素ごとの文字の間隔
//   //基本的にインライン要素は文字を表すときに使われる。
// }
// .child {
//   display: inline-block;
// }

/* ブロック要素を中央揃え */
// .parent {
// }
// .child {
//   margin: 0 auto;
// }

/**
 * 上下方向のレイアウト
 */
// .parent {
//   position: relative;
// }
// .child {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

//flexとposition: absolute;の使い分けについて
//複数の要素を重ね合わせたい時に上記のようなposition: absolute;を使う
//flexはposition: absolute;のような複数の要素を重ね合わせることができない。主に、要素を横並びや縦並びにする。

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // justify-content: space-around; 要素同士の間に空間を設けることができる
  // align-items: flex-end;
}
